<footer class="ftco-footer ftco-section bg-dark text-white">
  <div class="container text-white">
    <div class="row text-white">
      <div class="mouse">
        <a href="#" class="mouse-icon">
          <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
        </a>
      </div>
    </div>
    
    <div class="row mb-5 text-white">
      <div class="col-md text-white">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 text-white">Anime</h2>
          <p class="text-white" >Exclusive Items Jusst For You </p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate text-white"><a href="/" target="_blank"><span class="icon-twitter text-white"></span></a></li>
            <li class="ftco-animate text-white"><a href="/" target="_blank"><span class="icon-facebook text-white"></span></a></li>
            <li class="ftco-animate text-white"><a href="https://www.instagram.com/aayyushhh" target="_blank"><span class="icon-instagram text-white"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md text-white">
        <div class="ftco-footer-widget mb-4 ml-md-5 text-white">
          <h2 class="ftco-heading-2 text-white">Menu</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block text-white">Shop</a></li>
            <li><a href="{% url 'about' %}" class="py-2 d-block text-white">About</a></li>
            <li><a href="#" class="py-2 d-block text-white">Journal</a></li>
            <li><a href="{% url 'contact' %}" class="py-2 d-block text-white">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
         <div class="ftco-footer-widget mb-4 text-white">
          <h2 class="ftco-heading-2 text-white">Help</h2>
          <div class="d-flex">
            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4 text-white">
              <li><a href="#" class="py-2 d-block text-white">Shipping Information</a></li>
              <li><a href="#" class="py-2 d-block text-white">Returns &amp; Exchange</a></li>
              <li><a href="#" class="py-2 d-block text-white">Terms &amp; Conditions</a></li>
              <li><a href="#" class="py-2 d-block text-white">Privacy Policy</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block text-white">FAQs</a></li>
              <li><a href="{% url 'contact' %}" class="py-2 d-block text-white">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 text-white">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text text-white">India</span></li>
              <li><a href="#"><span class="icon icon-phone text-white"></span><span class="text text-white">7506874651</span></a></li>
              <li><a href="#"><span class="icon icon-envelope text-white"></span><span class="text text-white">ayushdodake@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p class="text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
